Checks: >
  -*,
  cppcoreguidelines-*,
  google-*,
  readability-*,
  modernize-*,
  bugprone-*,
  performance-*,
  misc-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -google-readability-todo,
  -google-runtime-references,
  -modernize-concat-nested-namespaces,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
